.reception{
  justify-content: start;
  width: 100%;
}
.tri{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.tableau{
  display: flex;
  width: 100%;
  justify-content: space-between;
  
}
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 20%;
}
th, td {
text-align: center;
padding: 10px;
}
.tr img{
  max-width: 100px; /* Ajustez la largeur maximale selon vos besoins */
    max-height: 100px; /* Ajustez la hauteur maximale selon vos besoins */
    border-radius: 5px; /* Arrondir les coins des images */
    display: block; /* Pour centrer les images dans leurs cellules */
    margin: auto;
}
.plus{
  display: flex;
  width: 30%;
  cursor: pointer;
}

