.ajout-produit {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin-left: 5%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  
  .ajout-produit h2 {
    text-align: start;
  }
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  form input,
  form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #f5eeee;
    border-radius: 5px;
  }
  
  form button {
    background-color: #21412b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    
  }
  
  .ajout{
    width: 100%;
    justify-content: center;
  }
  
  .ajoutpart{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    
  }

  .ajoutpart.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .ajoutpart.image input[type="file"] {
    display: none;
  }
  
  .ajoutpart.image label {
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .ajoutpart.image img {
    max-width: 100%;
    margin-top: 10px;
  }
  .haut{
    display: flex;
    justify-content: space-between;
  }
  .colonne{
    width: 45%;
  }
  h2{
    margin-left: 33%;
  }
  