<div class="Tableau_bord">
  <div class="gauche">
    <div class="entete"><h1>Stock</h1></div><br><br>
    <div class="menu">
      <div class="elment_de_menu">Dashboard</div><br><br>
      <div class="elment_de_menu">Categories</div><br><br>
      <div class="elment_de_menu">Entrepots</div><br><br>
      <div class="elment_de_menu">Clients</div><br><br>
      <div class="elment_de_menu">Fournisseurs</div><br><br>
      <div class="elment_de_menu">Receptions</div><br><br>
      <div class="elment_de_menu">Etat de Stock</div><br><br>
      <div class="elment_de_menu">Expedition</div><br><br>
  </div>
  </div>
  <div class="droite">
    <h1>Bienvenue sur votre Tableau de bord</h1>
  </div>
</div>