<div class="Ma">
    <div class="gauche" style="position: fixed;">
      <div class="entete"><h1>Stock</h1></div>
      <div class="menu" style="overflow-y: scroll; height:550px">
     <div (click)="onDashboard()" class="elment_de_menu"> 
                   <div><i class="fa-solid fa-table"></i></div>
                    <div>Dashboard</div>
      </div>
    <br><br>
     <div  (click)="onCategories()" class="elment_de_menu">
                    <div><i class="fa-solid fa-city"></i></div>
                    <div>Categories</div>
        </div>
      <br><br> 
     <div class="elment_de_menu">
          <div><i class="fa-solid fa-landmark"></i></div>
          <div>Entrepôts</div>
        </div>
   <br><br>
  <div class="elment_de_menu">
          <div><i class="fa-solid fa-user-tag"></i></div>
          <div>Clients</div>
        </div>
 <br><br>
   <div class="elment_de_menu">
          <div><i class="fa-solid fa-user-tag"></i></div>
          <div>Fournisseurs</div>
        </div>
<br><br>
<div (click)="onReception()" class="elment_de_menu">
          <div><i class="fa-solid fa-cart-arrow-down"></i></div>
          <div>Receptions</div>
        </div>
<br><br>
 <div (click)="onEtatStock()" class="elment_de_menu">
          <div><i class="fa-solid fa-cart-arrow-down"></i></div>
          <div>Etat de Stock</div>
        </div>
   <br><br>
  <div (click)="onExpedition()" class="elment_de_menu">
          <div><i class="fa-solid fa-bag-shopping"></i></div>
          <div>Expédition</div>
        </div>
  <br><br>
</div>
</div>
<div class="droite">
    <div class="main" style="box-sizing: border-box;">
        <router-outlet></router-outlet>
    </div>
</div>
</div>

