.Ma{
  display: flex;
  width: 100%;
}
.gauche{
  background-color: rgb(34, 33, 33);
  left: 0%;
  width: 30%;
  justify-content: center;
  align-items: center;
}
.logo{
 height: 55px;
  width: 100%;
}
.elment_de_menu{
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 10px;
  width: 200px;
  height: 55px;
  background-color: gray;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.entete{
  width: 100%;
  background-color: black;
}
.entete h1{
  text-align: center;
  justify-content: center;
}
.menu{
  flex-wrap: wrap;
  display: flex;
  justify-content: center; 
  align-items: center;
  cursor: pointer;
}
.droite{
  width: 70%;
  margin-left: 30%;
}