<div class="reception">
    <h1>Etat de Stock</h1>
    <div class="tabettri">
    <div class="tri">
    <div style="display: flex;">
      
      <label for="nom">Trier par:</label><br>
      <select name="" id=""><input type="text" id="nom" name="nom" required>
        <option >Quantité</option>
        <option >Categorie</option>
        <option >Nom du Produit</option></select>
    </div>
    <div>
      <input type="text" id="searchInput" placeholder="Rechercher...">
    </div>
</div><br><br>
   <button (click)="vershome()"><div><i class="fa-solid fa-arrow-left" style="justify-content: end;">
    <a routerLink=""></a>
</i></div></button>
   <!-- <div class="tableau">
    <table id="table">
      <thead>
          <tr>
              <th>Image</th>
              <th>Nom du Produit </th>
              <th>Categorie</th>
              <th>Quantité</th>
              <th>Prix.U(F)</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td><img src="../../assets/Iphone.png" alt=""></td>
              <td> Iphone X</td>
              <td>Téléphone</td>
              <td>60</td>
              <td>150 000 F</td>
          </tr>
          <tr>
              <td><img src="../../assets/Hp.png" alt=""></td>
              <td>Hp Pavillon </td>
              <td>Ordinateur</td>
              <td>30</td>
              <td>270 000 F</td>
          </tr>
          <tr>
              <td><img src= "../../assets/Imprimante.png" alt=""></td>
              <td>Hp Imprimante </td>
              <td>Scanner</td>
              <td>20</td>
              <td>225 000 F</td>
          </tr>
      </tbody>
  </table>
   </div>


   <div class="tableau">
    <table id="table">
       <thead>
        <tr>
          <th>Image</th>
          <th>Nom du Produit</th>
          <th>Categorie</th>
          <th>Quantité</th>
          <th>Prix.U(F)</th>
        </tr>
      </thead> -->
      <!-- <tbody>
        <tr *ngFor="let produit of produits">
          <td><img [src]="produit.image" alt=""></td>
          <td>{{ produit.nom }}</td>
          <td>{{ produit.categorie }}</td>
          <td>{{ produit.quantite }}</td>
          <td>{{ produit.prix }}</td>
        </tr>
      </tbody> 
    </table>
  </div> -->


  <div class="tableau">
  <table id="table">
    <thead>
      <tr>
        <th>Image</th>
        <th>Nom du Produit</th>
        <th>Categorie</th>
        <th>Quantité</th>
        <th>Prix.U(F)</th>
        <th>Action</th>
        
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produit of produits">
        <td><img [src]="produit.image" alt=""></td>
        <td>{{ produit.nom }}</td>
        <td>{{ produit.categorie }}</td>
        <td>{{ produit.quantite }}</td>
        <td>{{ produit.prix }}</td> 
        <td>
          <td>
            <button class="action-button" (click)="modifierProduit(produit)"><i class="fa-solid fa-pen-to-square"></i></button>
            <button class="action-button" (click)="supprimerProduit(produit)"><i class="fa-solid fa-trash"></i></button>
          </td>
      </tr>
    </tbody>
  </table>
</div>

  
</div>
</div>
