<div class="container">
    <div class="card justify-content-md-center">
        <div class="card-header text-center">
            <h3>S'inscrire</h3>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Prenom">
            </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Nom">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Telephone">
        </div>
            <div class="mb-3">
                <input type="email" class="form-control" placeholder="E-mail">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Mot de Passe">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Confirmer Mot de Passe">
            </div>
            <div class="mb-3 d-flex justify-content-between">
                <a routerLink="/login" class="btn btn-link" >Se connecter</a>
                <button type="button" class="btn btn-primary" >
                    <i class="fa-solid fa-check">&nbsp;</i>S'inscire</button>
            </div>
        </div>
    </div>
</div>
