<div class="Ma">
            <div class="gauche">
              <div class="entete"><h1>Stock</h1></div>
              <div class="menu">
             <div class="elment_de_menu"> 
                           <div><i class="fa-solid fa-table"></i></div>
                            <div>Dashboard</div>
              </div>
            <br><br>
             <div class="elment_de_menu">
                            <div><i class="fa-solid fa-city"></i></div>
                            <div>Categories</div>
                </div>
              <br><br> 
             <div class="elment_de_menu">
                  <div><i class="fa-solid fa-landmark"></i></div>
                  <div>Entrepôts</div>
                </div>
           <br><br>
          <div class="elment_de_menu">
                  <div><i class="fa-solid fa-user-tag"></i></div>
                  <div>Clients</div>
                </div>
         <br><br>
           <div class="elment_de_menu">
                  <div><i class="fa-solid fa-user-tag"></i></div>
                  <div>Fournisseurs</div>
                </div>
        <br><br>
      <div class="elment_de_menu">
                  <div><i class="fa-solid fa-cart-arrow-down"></i></div>
                  <div>Receptions</div>
                </div>
        <br><br>
         <div class="elment_de_menu">
                  <div><i class="fa-solid fa-cart-arrow-down"></i></div>
                  <div><a routerLink="/Stock">Etat de Stock</a></div>
                </div>
           <br><br>
          <div class="elment_de_menu">
                  <div><i class="fa-solid fa-bag-shopping"></i></div>
                  <div>Expédition</div>
                </div>
          <br><br>
        </div>
  </div>
<div class="droite">
    <h1 >Bienvenue sur votre Tableau de bord</h1> <br>
    <div class="container">
    <div class="bord-tableau" style="background-color:rgb(101, 101, 236);;">
      <h2 style="margin-left: 10px;">11</h2>
      <i class="fa-solid fa-bag-shopping  fa-3x" style=" margin-top: -35px; position: absolute; margin-left: 24vh; width: 20px; height: 20px;"></i> 
      <h4 class="text" >Nombre de sortie</h4>
    </div>
    <div class="bord-tableau" style="background-color: rgb(211, 236, 101); ">
      <h2 style="margin-left: 10px;">11</h2>
      <i class="fa-solid fa-cart-arrow-down fa-3x" style=" margin-top: -35px; position: absolute; margin-left: 24vh; width: 20px; height: 20px;"></i> 
      <h4 class="text">Nombre de Stock</h4>
    </div>
    <div class="bord-tableau" style="background-color: rgb(105, 236, 101); ">
      <h2 style="margin-left: 10px;">11</h2>
      <i class="fa-solid fa-user-tag fa-3x" style=" margin-top: -35px; position: absolute; margin-left: 24vh; width: 20px; height: 20px;"></i> 
      <h4 class="text" >Nombre de Clients</h4>
    </div>
  </div><br><br>
  <h1 >Nos produits les plus vendus</h1>
     <div class="trie">
      <div style="display: flex;">
        
        <label for="nom">Trier par:</label><br>
        <select name="" id=""><input type="text" id="nom" name="nom" required>
        <option >Quantité</option>
        <option >Categorie</option>
        <option >Nom du Produit</option>
        </select><br><br>
      </div>
      <div>
        <input type="text" id="searchInput" placeholder="Rechercher...">
      </div>
     </div><br><br>
     <div class="tableau">
      <table id="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Nom du Produit </th>
                <th>Categorie</th>
                <th>Quantité</th>
                <th>Prix.U(F)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="../../assets/Iphone.png" alt="iphone X"></td>
                <td> Iphone X</td>
                <td>Téléphone</td>
                <td>60</td>
                <td>150 000 F</td>
            </tr>
            <tr>
                <td><img src="../../assets/Hp.png" alt="Hp"></td>
                <td>Hp Pavillon </td>
                <td>Ordinateur</td>
                <td>30</td>
                <td>270 000 F</td>
            </tr>
            <tr>
                <td><img src= "../../assets/Imprimante.png" alt="Imprimante"></td>
                <td>Hp Imprimante </td>
                <td>Scanner</td>
                <td>20</td>
                <td>225 000 F</td>
            </tr>
        </tbody>
    </table>
     </div>
  </div>
</div>
  