
.droite{
  // width: 100%;
  justify-content: center;
}
.trie{
     display: flex;
     width: 100%;
     justify-content: space-between;
  }
  .container{
        display: flex;
         justify-content: space-between;
         width: 90%;
     }
     .bord-tableau{
         width: 220px;
        height: 100px;
        box-sizing: border-box;
       }
       
       .tableau{
          display: flex;
          width: 100%;
          justify-content: space-between;
        }
        table {
          border-collapse: collapse;
          width: 100%;
          border: 1px solid #ddd;
      }
      th, td {
        text-align: center;
        padding: 10px;
      }
      .droite h1{
        text-align: center;
      }
      /* Style pour les images dans la table */
table img {
  max-width: 100px; /* Ajustez la largeur maximale selon vos besoins */
  max-height: 100px; /* Ajustez la hauteur maximale selon vos besoins */
  border-radius: 5px; /* Arrondir les coins des images */
  display: block; /* Pour centrer les images dans leurs cellules */
  margin: auto; /* Centrer les images horizontalement */
  box-sizing: border-box;
}
.bord-tableau h4{
  margin-top: 30px;
}
