<form   >
    <div class="image">
      <label for="photoInput">Photo</label>
      <input type="file" id="photoInput" name="photo"  required >
      <!-- <img [src]="selectedImage" *ngIf="selectedImage" alt="Photo"> -->
    </div>

    
      <div class="updatepart">

        <div class="colonne">
            <label for="id">Id</label>
        <input type="number" id="id" name="id" [(ngModel)]="produit.id" required value=""><br><br>

        <label for="fournisseur">Fournisseur</label>
        <input type="text" id="fournisseur" name="fournisseur" [(ngModel)]="produit.fournisseur" required value=""><br><br>

        <label for="entrepot">Entrepôt</label>
        <input type="text" id="entrepot" name="entrepot" [(ngModel)]="produit.entrepot" required value=""><br><br>

        <label for="date_de_reception">Date de reception</label>
        <input type="date" id="date_de_reception" name="date_de_reception" [(ngModel)]="produit.date_de_reception" required value="">
        </div>
        
   <div class="colonne">
    
    <label for="nom">Nom du produit:</label >
    <input type="text" id="nom" name="nom" [(ngModel)]="produit.nom" required ><br><br>

    <label for="categorie">Catégorie:</label>
    <select id="categorie" name="categorie" [(ngModel)]="produit.categorie" required value="" >
      <option value="telephone">Téléphone</option>
      <option value="ordinateur">Ordinateur</option>
      <option value="scanner">Scanner</option>
    </select><br><br>

    <label for="quantite">Quantité:</label>
    <input type="number" id="quantite" name="quantite" [(ngModel)]="produit.quantite" required value=""><br><br>

    <label for="prix">Prix unitaire (F):</label>
    <input type="number" id="prix" name="prix" [(ngModel)]="produit.prix" required value="" ><br><br>
   </div>
 </div>
    <button type="submit" >  Modifier</button>
  </form>