
  form{
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin-left: 5%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  form input,
  form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form button {
    background-color: rgb(6, 75, 54);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    margin-left: 20%;
  }
  
  
  .updatepart{ 
    display: flex;
    width: 100%;
    justify-content: space-between;
    
  }

  .updatepart.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .updatepart.image input[type="file"] {
    display: none;
  }
  
  .updatepart.image label {
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .updatepart.image img {
    max-width: 100%;
    margin-top: 10px;
  }
  .colonne{
    width: 45%;
  }
  
  